# Node modules
node_modules
*/node_modules

# Git
.git
.gitignore

# Environment files
.env
.env.*
!.env.production

# MongoDB data
data/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
client/build

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Deployment files
DIGITAL_OCEAN_DEPLOYMENT.md
backup.sh

# Nginx
nginx/ssl

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
